* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active,
a:visited {
	color: black;
	outline: none;
}
li {
	list-style-type: none;
}

nav,
li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
	text-decoration: none;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

@font-face {
	font-family: "TTLakes";
	src: url("../fonts/TTLakes-Bold.eot");
	src: local("☺"), url("../fonts/TTLakes-Bold.woff") format("woff"),
		url("../fonts/TTLakes-Bold.ttf") format("truetype"), url("../fonts/TTLakes-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "TTLakes";
	src: url("../fonts/TTLakes-Medium.eot");
	src: local("☺"), url("../fonts/TTLakes-Medium.woff") format("woff"),
		url("../fonts/TTLakes-Medium.ttf") format("truetype"), url("../fonts/TTLakes-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "TTLakes";
	src: url("../fonts/TTLakes-Regular.eot");
	src: local("☺"), url("../fonts/TTLakes-Regular.woff") format("woff"),
		url("../fonts/TTLakes-Regular.ttf") format("truetype"), url("../fonts/TTLakes-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
.companies-list__slide-content img {
	margin: auto;
	margin-left: 20px;
}
.swiper-slide__content img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

ul {
	padding: 0;
	margin: 0;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	outline: none; /* Для синий ободки */
	border: 0;
	background: none;
}
body {
	height: 100%;
	background-color: #f2f2f2;
	font-family: "TTLakes", sans-serif;
	font-size: 16px;
	color: black;
	margin: 0;
	padding: 0;
	width: 100vw;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}
.slider-title {
	margin: 0;
}
.header-slider {
	background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
	height: 100%;
	padding: 0;
	width: 100%;
	flex: 0 0 auto;
}
.text-slider {
	padding: 16px;
	text-transform: uppercase;
	line-height: 24px;
}

.slider-container {
	position: relative;
}

.slider-container {
	overflow: hidden;
	width: 100%;
}
.companies-list__wrapper {
	margin: 25px 0;
}

.swiper-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 0 24px;
}

.swiper-slide > .link-arrow::after {
	content: url(icons/go.png);
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 15px;
}
.companies-list__button {
	margin-right: auto;
}

.button-all {
	display: inline-block;
	position: relative;
	left: 50px;
	bottom: -20px;
}

.button-all::before {
	content: url(icons/icon.png);
	display: inline-block;
	position: absolute;
	left: -20px;
}

.button-all-reverse {
	display: inline-block;
	position: relative;
	left: 50px;
}

.button-all-reverse::before {
	content: url(icons/icon-reverse.png);
	display: inline-block;
	position: absolute;
	left: -20px;
}

.button-all-new {
	margin-left: 24px;
	padding-left: 33px;
	position: absolute;
	margin-bottom: 24px;
}

button.button-all-new::before {
	content: url(icons/icon.png);
	display: inline-block;
	position: absolute;
	left: 7%;
	bottom: 0;
}

@media screen and (min-width: 1px) and (max-width: 700px) {
	.container {
		min-width: 320px;
	}
	.companies-list__slide {
		margin-bottom: 10px;
		margin-right: 0;
	}
	.swiper-slide {
		min-width: 205px;
		position: relative;
		height: 72px;
		line-height: 72px;
		background-color: white;
		border: 1px solid #eaeaea;
		border-radius: 6px;
		flex-basis: 100%;
		flex-shrink: 1;
	}

	.swiper-wrapper {
		flex-wrap: nowrap;
		padding-left: 10px;
	}

	.swiper-pagination {
		position: relative;
	}
	.button-all {
		display: none;
	}

	.button-all-reverse {
		display: none;
	}
}

@media screen and (min-width: 701px) and (max-width: 1120px) {
	.container {
		position: relative;
	}
	.swiper-wrapper {
		padding-right: 24px;
	}
	.swiper-slide {
		height: 72px;
		background-color: white;
		border: 1px solid #eaeaea;
		border-radius: 6px;
		flex-basis: 29.6%;
		min-width: 205px;
		position: relative;
	}

	.companies-list__slide {
		margin-right: 3%;
		margin-bottom: 10px;
	}
	.companies-list__wrapper > .companies-list__slide:nth-child(3n) {
		margin-right: 0;
	}
	.companies-list {
		margin-bottom: auto;
	}
	.slider-container {
		height: 180px;
	}
	.slider-full {
		height: 100%;
	}

	.swiper-pagination {
		display: none;
	}
}
@media screen and (min-width: 1121px) {
	.container {
		position: relative;
		max-width: 1400px;
		margin: 0 auto;
	}
	.swiper-wrapper {
		padding-right: 24px;
	}

	.companies-list__wrapper > .companies-list__slide:nth-child(4n) {
		margin-right: 0;
	}

	.swiper-slide {
		min-width: 200px;
		height: 72px;
		background-color: white;
		border: 1px solid #eaeaea;
		border-radius: 6px;
		flex-basis: 29.44%;
		position: relative;
	}
	.companies-list {
		margin-bottom: auto;
	}
	.slider-container {
		height: 180px;
	}
	.slider-full {
		height: 100%;
	}
	.swiper-slide {
		height: 72px;
		background-color: white;
		border: 1px solid #eaeaea;
		border-radius: 6px;
		flex-basis: 21.8%;
		position: relative;
	}
	.companies-list__slide {
		margin-right: 3%;

		margin-bottom: 10px;
	}
	.swiper-pagination {
		display: none;
	}
}
